@import '../styles/variables.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Prevent whole page from scrolling if we want app-like feel */
}

/* Allow scrolling on normal pages but not the ones with fixed sidebars */
body.scrollable {
  overflow: auto;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

b,
strong {
  font-weight: bold !important;
  font-weight: 700 !important;
}

u {
  text-decoration: underline !important;
}

.course-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15) !important;
}